body {
  background-color: rgb(255, 255, 255);
  margin: 0px;
}

#logo {
  width: 100%;
  background: #06a7a7;
  color: rgb(255, 255, 255);
  margin: 0;
}

#title {
  font-size: 5em;
  font-weight: bold;
  font-family: andalus, Helvetica, sans-serif;
  text-align: start;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1106a7;
  color: rgb(255, 255, 255);
  font-size: 1.3em;
}

#navbar li {
  display: inline;
  margin-left: 16em;
  padding: 15px;
}

li a {
  text-decoration: none;
  color: rgb(253, 247, 247);
  text-align: center;
}

li:hover {
  background: #067a1f;
}

#news {
  width: 97%;
  margin: 0;
  background: rgb(197, 189, 189);
  border: 0;
  border-radius: 3px;
  padding: 20px;
  text-align: center;
}

#news h1 {
  text-align: right;
  color: #040505;
}

.element {
  margin: 6px;
  display: inline-block;
  border: 1px solid #1c6b6b;
  border-radius: 20px;
  width: -webkit-fill-available;
  max-width: 30%;
  height: 500px;
  padding: 10px;
  text-align: right;
  border-width: 4px;
}

.element img {
  width: 100%;
  max-height: 200px;
}

.element .news-title {
  height: 30px;
  color: #0e0f0f;
  font-size: 25px;
  font-weight: bold;
  white-space: nowrap;
  overflow: scroll;
}


.element p {
  height: 220px;
  overflow: scroll;
}